.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.similar-articles {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-article {
    display: flex;
}

.similar {
    text-align: center;
    margin: 20px;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

img {
    object-fit: cover;
}

.logo {
    width: 100%;
    height: auto;
}

.similar div img {
    width: 240px;
    height: 90px;
}

.galery img {
    width: 174px;
    height: 100px;
}

.main-article p img {
    width: 200px;
    height: 160px;
    float: left;
}

/* for desktop */
@media (min-width: 768px){
    .similar-articles {
        flex-direction: row;
    }

    .main-content {
        display: flex;
        flex-direction: row;
    }

    .main-content .main-article {
        flex: 2;
    }

    .main-content .categories {
        flex: 1;
    }
}